.kebap-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .kebap-img {
    width: 300px; /* Kapsayıcı genişliği */
    height: 300px; /* Kapsayıcı yüksekliği */
    object-fit: cover; /* Görüntüyü kapsayıcıya göre kırparak alanı doldur */
    border-radius: 8px; /* Köşeleri yuvarla */
    overflow: hidden; /* Görüntü taşmalarını engelle */
  }
  
  .kebap-info {
    flex: 1;
  }
  
  .kebap-price {
    font-weight: bold;
    color: #ff4d4f;
  }
  
  /* Small ve XS cihazlar için medya sorguları */
  @media (max-width: 576px) {
    .kebap-card {
      height: 100px; /* Kart yüksekliği */
      flex-direction: row; /* İçerikleri yatay hizala */
      align-items: center; /* Ortadan hizala */
    }
  
    .kebap-img {
      width: 130px; /* Daha küçük genişlik */
      height: 80px; /* Daha küçük yükseklik */
      object-fit: cover; /* Görüntüyü kapsayıcıya göre kırparak alanı doldur */
      border-radius: 8px; /* Köşeleri yuvarla */
      overflow: hidden; /* Taşmaları engelle */
    }
  
    .kebap-info {
      margin-left: 10px; /* Daha küçük bir margin */
      font-size: 8px; /* Yazı boyutunu küçült */
    }
  
    .kebap-price {
      font-size: 10px; /* Fiyatın boyutunu küçült */
      margin-left: auto; /* Fiyatı sağa yasla */
    }
  }
  